.highcharts-caption {
	padding: 0px 30px;
	width: 75%;
	/* text-align: left; */
	/* float: left; */
	/* position: absolute; */ 
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	/* font-size: 12px; */
	/* white-space: normal; */
	/* margin-left: 0px; */
	/* margin-top: 0px; */
	/* left: 10px; */
	/* top: 325px; */
	/* color: rgb(102, 102, 102); */
	/* fill: rgb(102, 102, 102); */
	/* width: 464px; */
	/* display: block; */
}
