.highcharts-container {
	position: relative;
}
.overlay {
	position: absolute;
	display: none;
	/* width: 100%; */
	/* height: 100%; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2; 
	cursor: pointer; 
	text-align: center;
}
.infobox{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,100,0.5);
	z-index: 2; 
	cursor: pointer; 
	text-align: center;
}
.input{
	text-align: center;
	box-shadow: none;
	border: none;
	padding: 0px 0px;
	width: 35px;
	background-color: transparent;
}
.input:focus{
	border: solid;
}
#text{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.login-form {
	width: 300px;
	margin: 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
	text-align: center;
	color: #4d4d4d;
	font-size: 24px;
	padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}
.login-form input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
}

.admin-form {
	width: 300px;
	margin: 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
}
.admin-form h1 {
	text-align: center;
	color: #4d4d4d;
	font-size: 24px;
	padding: 20px 0 20px 0;
}
.admin-form h2 {
	text-align: center;
	color: #4d4d4d;
	font-size: 12px;
	padding: 10px 0 10px 0;
}
.admin-form input[type="password"],
.admin-form input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}
.admin-form input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
}
.admin-form input[type="file"] {
	width: 100%;
	padding: 15px;
	background-color: #535b63;
	box-sizing: border-box;
	/* cursor: pointer; */
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #ccc;
    	display: inline-block;
    	padding: 6px 12px;
    	cursor: pointer;
}

.admin-form select {
	color: #ffffff;
  	padding: 8px 16px;
  	border: 1px solid transparent;
  	/* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
  	cursor: pointer;
	list-style: square;
	width: 100%;
	/* padding: 15px; */
	background-color: #535b63;
	/* border: 0; */
	/* box-sizing: border-box; */
	/* cursor: pointer; */
	/* font-weight: bold; */
	/* color: #ffffff; */
}

/* weather vs climate */
.tab {
  display: flex; 
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: 2px solid #ccc;
  background-color: #f1f1f1;
  width: 90%;
}
.tab button {
  flex-basis: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  padding-bottom: 20px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}

.active {
  	border: 1px solid transparent;
	/* background-color: #757d85; */
	color: #222222;
	padding: 2px 8px
}
.disabled {
  	border: 1px solid transparent;
	/* background-color: #535b63; */
	color: #aaaaaa;
	padding: 2px 8px
}

/* Debug screens styles */
.debug {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: 2px solid #ccc;
  background-color: #f1f1f1;
  padding: 14px 16px;
}
.json {
	height: 600px;
}
.mini_button{
    border:solid 1px;
    width: 100%;
    height: 23px;
    float:right;
    cursor:pointer;
}
.box{
    height: 620px;
    background: #DFDFDF;
    display: none;
}
