<!-- extends default--><!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<script src="https://nicklassundin.github.io/abisko-climate-plots/jquery.js"></script>
		<script src="client/bundle.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="mark"></div>

		{{#each charts}}
		<script type="text/javascript">
			lib.renderChart(document.getElementById("mark"), '{{this.id}}', '{{this.station}}');
					</script>
		{{/each}}
	</body>
</html>
