// extends default
block content
	doctype html
// meta (charaset="utf-8")
html
	head
		// script(src="https://code.highcharts.com/highcharts.js")
		script(src="https://code.highcharts.com/modules/annotations.js")
		script(src="https://code.highcharts.com/highcharts-more.js")
		script(src="https://code.highcharts.com/modules/series-label.js")
		script(src="https://code.highcharts.com/modules/exporting.js")
		script(src="https://code.highcharts.com/modules/export-data.js")
		script(src="https://code.highcharts.com/modules/histogram-bellcurve.js")
		script(src="https://code.highcharts.com/maps/highmaps.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
		script(src="https://code.highcharts.com/mapdata/custom/europe.js")
		script(src="https://code.highcharts.com/maps/modules/exporting.js")
		script(type="text/javascript").
			console.log("PLACEHOLDER")	
		script(src="../client/navigate_bundle.js", type="text/javascript")
	body
		div( id="mark" )
		script(type="text/javascript").
			country("mark");
