// extends default
block content
	doctype html
html
	head
		meta( charaset="utf-8")
		link( rel="stylesheet", type="text/css", href="css/styles.css")
	body
		script( type="text/javascript" ).
			console.log("username:")
			console.log('#{username}')
			console.log('#{password}')
		div( class="upload-form" )
			h1 Upload File
			form( action="/upload", method="POST", enctype="multipart/form-data" )
				input( type="hidden", name="username", value='#{username}')
				input( type="hidden", name="password", value='#{password}')
				select( name="type", required )
					option( value="None" ) -- Select Data type --
					option( value="ANS_SnowDepth.csv" ) Abisko Snow Depth Data
					option( value="ANS_Temp_Prec.csv" ) Abisko Temperature and Precipitation Data
					option( value="Tornetrask_islaggning_islossning.csv" ) TorneTräsk Freeze-up and Break-up data
				input( type="file" , name="file", required)
				input( type="submit" )
