body {
    margin: 0;
}

.landskap, .kommun {
    fill-opacity: 0;
    stroke: rgb(10, 10, 10);
}
.landskap {
    stroke-width: 3;
}
.landskap:not(.show) {
    pointer-events: none!important;
}
.kommun {
    visibility: hidden;
    stroke-width: 2;
}
.kommun:not(.show) {
    pointer-events: none!important;
}

path {
    stroke-dasharray: 10000;
    stroke-dashoffset: 0;
    animation: dash 5s ease-in alternate 1;
}

@keyframes dash {
    from {
        stroke-dashoffset: 10000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.landskap:hover, .kommun:hover {
    animation-duration: 10s;
    fill-opacity: 0;
    stroke-width: 5;

    /*
    transform-origin: top left;
    transform: translate(-.2%, -.5%);

     */

}

.label {
    border: none;
    background: none;
    box-shadow: none;
}


